# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

mainmenu "rnk kernel configuration"

config ARCH
    string
    option env="ARCH"

source "arch/$ARCH/Kconfig"
source boards/Kconfig
source kernel/Kconfig
source drivers/Kconfig
source mm/Kconfig
