mainmenu "rnk kernel configuration"

config ARCH
    string
    option env="ARCH"

if !DYNAMIC_APPS
source apps/Kconfig
endif

source "arch/$ARCH/Kconfig"
source boards/Kconfig
source kernel/Kconfig
source ldscripts/Kconfig
source lib/Kconfig
source loader/Kconfig
source drivers/Kconfig
source mm/Kconfig
source pm/Kconfig
source third_party/Kconfig
source utils/Kconfig
