mainmenu "rnk kernel configuration"

config ARCH
    string
    option env="ARCH"

source "arch/$ARCH/Kconfig"
source boards/Kconfig
source kernel/Kconfig
source ldscripts/Kconfig
source lib/Kconfig
source loader/Kconfig
source drivers/Kconfig
source mm/Kconfig
source third_party/Kconfig
source utils/Kconfig
