# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Architecture configuration"

config CPU_ARM
    bool

config CPU_ARMV7
    bool
    select CPU_ARM

config CPU_ARM_THUMB
    bool

choice
   prompt "Architecture"

config CPU_ARMV7A
    bool "ARMV7A"
    select CPU_ARMV7

config CPU_ARMV7M
    bool "ARM7M"
    select CPU_ARMV7
    select CPU_ARM_THUMB

endchoice

choice
   prompt "CPU"

config CPU_ARM_CORTEX_M3
    bool "Cortex-M3"
    depends on CPU_ARMV7M

config CPU_ARM_CORTEX_M4
    bool "Cortex-M4"
    depends on CPU_ARMV7M

config CPU_ARM_CORTEX_M7
    bool "Cortex-M7"
    depends on CPU_ARMV7M

config CPU_ARM_CORTEX_A5
    bool "Cortex-A5"
    depends on CPU_ARMV7A

endchoice

choice
    prompt "Endianess"
    default LITTLE_ENDIAN

config BIG_ENDIAN
    bool "Big Endian"

config LITTLE_ENDIAN
    bool "Little Endian"

endchoice

endmenu
