# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Architecture configuration"

config CPU_ARM
    bool

config CPU_ARM64
    bool

config CPU_ARMV7
    bool
    select CPU_ARM

config CPU_ARMV8
    bool
    select CPU_ARM64

config CPU_ARM_THUMB
    bool

choice
   prompt "Architecture"

config CPU_ARMV7M
    bool "ARM7M"
    select CPU_ARMV7
    select CPU_ARM_THUMB

config CPU_ARMV8A
    bool "ARMV8A"
    select CPU_ARMV8

endchoice
choice
   prompt "CPU"

config CPU_ARM_CORTEX_M3
    bool "Cortex-M3"
    depends on CPU_ARMV7M

config CPU_ARM_CORTEX_M4
    bool "Cortex-M4"
    depends on CPU_ARMV7M

config CPU_ARM_CORTEX_M7
    bool "Cortex-M7"
    depends on CPU_ARMV7M

config CPU_ARM_CORTEX_A53
    bool "Cortex-A53"
    depends on CPU_ARMV8A

config CPU_ARM_CORTEX_A57
    bool "Cortex-A57"
    depends on CPU_ARMV8A

endchoice

choice
    prompt "Endianess"
    default LITTLE_ENDIAN

config BIG_ENDIAN
    bool "Big Endian"

config LITTLE_ENDIAN
    bool "Little Endian"

endchoice

endmenu
