# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

config STM32F4XX
	bool

config STM32F7XX
	bool

menu "STM32 configuration"

choice
    prompt "SoC"

    config STM32F401
        bool "STM32F401"
	select STM32F4XX

    config STM32F407
        bool "STM32F407"
	select STM32F4XX

    config STM32F429
        bool "STM32F429"
	select STM32F4XX

    config STM32F746
        bool "STM32F746"
	select STM32F7XX

endchoice

config NUM_IRQS
	int "Number of IRQS"

endmenu
