config STM32F4XX
	bool

config STM32F7XX
	bool

config STM32L4XX
	bool

menu "STM32 configuration"

choice
    prompt "SoC"

    config STM32F401
        bool "STM32F401"
	select STM32F4XX

    config STM32F407
        bool "STM32F407"
	select STM32F4XX

    config STM32F429
        bool "STM32F429"
	select STM32F4XX

    config STM32F746
        bool "STM32F746"
	select STM32F7XX

    config STM32L443
        bool "STM32L443"
	select STM32L4XX

endchoice

config NUM_IRQS
	int "Number of IRQS"

config GPIO_PER_PORT
	int "Number of gpio per port"

config GPIO_PORT_NUM
	int "Number of gpio port"

config EXTI_LINES
	int "Number of EXTI Lines"
	default 40

config DMA_REQUEST_LINES
	int "Number of DMA request lines"
	default 8

endmenu
