config STM32F4XX
	bool

config STM32F7XX
	bool

menu "STM32 configuration"

choice
    prompt "SoC"

    config STM32F401
        bool "STM32F401"
	select STM32F4XX

    config STM32F407
        bool "STM32F407"
	select STM32F4XX

    config STM32F429
        bool "STM32F429"
	select STM32F4XX

    config STM32F746
        bool "STM32F746"
	select STM32F7XX

endchoice

config NUM_IRQS
	int "Number of IRQS"

config GPIO_PER_PORT
	int "Number of gpio per port"

config GPIO_PORT_NUM
	int "Number of gpio port"

endmenu
