# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Kernel configuration"

config THREAD_STACK_START
	hex "Start address of kernel THREAD stack"

config INITCALL
	bool "Enable initcall and exitcall"

choice
    prompt "Scheduling algorithms"

    config SCHEDULE_RR_PRIO
        bool "Round Robin Priority scheduling algorithm"

    config SCHEDULE_ROUND_ROBIN
        bool "Round Robin scheduling algorithm"

    config SCHEDULE_PRIORITY
        bool "Priority scheduling algorithm"
endchoice

config THREAD_QUANTUM
	depends on SCHEDULE_ROUND_ROBIN || SCHEDULE_RR_PRIO
	int "THREAD quantum"

config SW_ISR_TABLE
	bool "Enable use of software managed isr table"

config HR_TIMER
	bool "High resolution timer using hardware IP"

config BW_DELAY
	depends on !HR_TIMER
	bool "Delay functions are implement as busy-wait"

endmenu
