# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Board configuration"

choice
    prompt "Machine"

    config MACH_AT91
        bool "Atmel"

    config MACH_STM32
        bool "STM32"
	depends on CPU_ARMV7M

    config MACH_QEMU
        bool "QEMU"
endchoice

if MACH_AT91
source "boards/mach-at91/Kconfig"
endif

if MACH_STM32
source "boards/mach-stm32/Kconfig"
endif

if MACH_QEMU
source "boards/mach-qemu/Kconfig"
endif

endmenu
