# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Drivers configuration"

config IRQ_SUBSYS
	bool "IRQ subsystem driver"

config I2C_SUBSYS
	bool "I2C subsystem driver"

config SPI_SUBSYS
	bool "SPI subsystem driver"

config I2C_SUBSYS
	bool "I2C subsystem driver"

config ILI9341
	bool "TFT driver for ILI9341"

config ILI9341_FRAME_BUFFER
	depends on ILI9341
	hex "Address of the frame buffer"

config LCD_SUBSYS
	bool "LCD subsystem driver"

config TIMER_SUBSYS
	bool "Timer subsystem driver"

endmenu
