# Copyright (C) 2015 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Drivers configuration"

config IRQ_SUBSYS
	bool "IRQ subsystem driver"

config SPI_SPIDEV
	bool "Usermode SPI driver support"

config ILI9341
	bool "TFT driver for ILI9341"

config LCD_SUBSYS
	bool "LCD subsystem driver"

config TIMER_SUBSYS
	bool "Timer subsystem driver"

config TIMER_NB
	depends on TIMER_SUBSYS
	int "Number of hardware timer"

endmenu
