/ {
    compatible = "st,stm32f4";

    #address-cells = <1>;
    #size-cells = <1>;

	clocks
	{
		sources
		{
			hsi = <16000000>;
			hse = <8000000>;
			lsi = <32000>;
		};

		fast
		{
			source = <2>;				// pll is source
			pll = <1 16 336 2 7>;		// hsi, m, n, p, q
			prescaler = <1 4 2>;		// ahb div1, apb1&apb2 div=2
		};
	};

	ahb1
	{
		#address-cells = <1>;
		#size-cells = <1>;

		gpioa: gpio@40020000 {
			reg = <0x40020000 0x400>;
                        status = "okay";
		};

		gpiob: gpio@40020400 {
			reg = <0x40020400 0x400>;
                        status = "okay";
		};

		gpioc: gpio@40020800 {
			reg = <0x40020800 0x400>;
                        status = "okay";
		};

		gpiod: gpio@40020C00 {
			reg = <0x40020C00 0x400>;
                        status = "okay";
		};

		gpioe: gpio@40021000 {
			reg = <0x40021000 0x400>;
                        status = "okay";
		};

		gpiof: gpio@40021400 {
			reg = <0x40021400 0x400>;
                        status = "okay";
		};

		gpiog: gpio@40021800 {
			reg = <0x40021800 0x400>;
                        status = "okay";
		};

		gpioh: gpio@40021C00 {
			reg = <0x40021C00 0x400>;
                        status = "okay";
		};

		gpioi: gpio@40022000 {
			reg = <0x40022000 0x400>;
                        status = "okay";
		};

		gpioj: gpio@40022400 {
			reg = <0x40022400 0x400>;
                        status = "okay";
		};

		gpiok: gpio@40022800 {
			reg = <0x40022800 0x400>;
                        status = "okay";
		};

		flash {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "st,stm32f4xx-flash";
			reg = <0x40023C00 0x400>;
			base = <0x08000000>;
                        status = "okay";
		};

		rcc: rcc@40023800 {
			#clock-cells = <2>;
			reg = <0x40023800 0x400>;
			compatible = "st,stm32f4xx-rcc";
                        status = "okay";
		};

		dma1: dma@40026000 {
			reg = <0x40026000 0x400>;
			compatible = "st,stm32f4xx-dma";
                        status = "okay";
		};

		dma2: dma@40026400 {
			reg = <0x40026400 0x400>;
			compatible = "st,stm32f4xx-dma";
                        status = "okay";
			st,mem2mem;
		};
	};

	ahb2
	{

	};

	ahb3
	{
		#address-cells = <1>;
		#size-cells = <1>;

		fmc: fmc@A0000000 {
			reg = <0xA0000000 0x1000>;
			compatible = "st,stm32f4xx-fmc";
			status = "okay";
			mem-type = <1>;

			load_to_active_delay = <2>;
			exit_self_refresh_delay = <6>;
			self_refresh_time = <4>;
			row_cycle_delay = <5>;
			write_recovery_time = <2>;
			rp_delay = <2>;
			rc_delay = <2>;

			num_bank = <0x1>;
			column = <0x0>;			/* 8 bit */
			row = <0x4>;			/* 12 bit */
			data_width = <0x10>;		/* 16 bit */
			internal_bank = <0x40>;		/* Bank 4 */
			cas = <0x180>;			/* CAS Latency 3 */
			write_protection = <0x0>;	/* Disable */
			clk_period = <0x800>;		/* Clk Period 2 */
			read_burst = <0x1000>;		/* Enable */
			read_pipe_delay = <0x0>;	/* Delay 0 */

			conf_to_load = <0x230>;
			refresh_count = <2605>;

			gpios =	<&gpioi	0x00E 0x3>,
				<&gpioh 0xC05 0x0>,
				<&gpioc 0xC02 0x0>,
				<&gpioc 0xC03 0x0>,
				<&gpiod 0xC00 0x0>,
				<&gpiod 0xC01 0x0>,
				<&gpiod 0xC08 0x0>,
				<&gpiod 0xC09 0x0>,
				<&gpiod 0xC0A 0x0>,
				<&gpiod 0xC0E 0x0>,
				<&gpiod 0xC0F 0x0>,
				<&gpioe 0xC00 0x0>,
				<&gpioe 0xC01 0x0>,
				<&gpioe 0xC07 0x0>,
				<&gpioe 0xC08 0x0>,
				<&gpioe 0xC09 0x0>,
				<&gpioe 0xC0A 0x0>,
				<&gpioe 0xC0B 0x0>,
				<&gpioe 0xC0C 0x0>,
				<&gpioe 0xC0D 0x0>,
				<&gpioe 0xC0E 0x0>,
				<&gpioe 0xC0F 0x0>,
				<&gpiof 0xC00 0x0>,
				<&gpiof 0xC01 0x0>,
				<&gpiof 0xC02 0x0>,
				<&gpiof 0xC03 0x0>,
				<&gpiof 0xC04 0x0>,
				<&gpiof 0xC05 0x0>,
				<&gpiof 0xC0B 0x0>,
				<&gpiof 0xC0C 0x0>,
				<&gpiof 0xC0D 0x0>,
				<&gpiof 0xC0E 0x0>,
				<&gpiof 0xC0F 0x0>,
				<&gpiog 0xC00 0x0>,
				<&gpiog 0xC01 0x0>,
				<&gpiog 0xC04 0x0>,
				<&gpiog 0xC05 0x0>,
				<&gpiog 0xC08 0x0>,
				<&gpiog 0xC0F 0x0>;
		};
	};

	apb1
	{
		#address-cells = <1>;
		#size-cells = <1>;

		usart3: usart3@40004800 {
			compatible = "st,stm32f4xx-usart";
			reg = <0x40004800 0x1C>;
			gpios = <&gpioc 0x70B 0>,     /* TX PA2 */
				<&gpioc 0x70A 0>;     /* RX PA3 */
			clock = <2>;
			baudrate = <115200>;
                        status = "okay";
		};

		i2c1: i2c1@40005400 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "st,stm32f4xx-i2c";
			reg = <0x40005400 0x24>;
			gpios = <&gpiob 0x418 0x0E>,    /* SCL PB8 */
					<&gpiob 0x419 0x0E>;    /* SDA PB9 */
		};


                timer2: timer@40000000 {
                        compatible = "st,stm32f4xx-timer";
                        reg = <0x40000000 0x400>;
                        interrupts = <28>;
                        status = "okay";
                };

                timer3: timer@40000400 {
                        compatible = "st,stm32f4xx-timer";
                        reg = <0x40000400 0x400>;
                        interrupts = <29>;
                        status = "okay";
                };

                timer4: timer@40000800 {
                        compatible = "st,stm32f4xx-timer";
                        reg = <0x40000800 0x400>;
                        interrupts = <30>;
                        status = "okay";
                };

                timer5: timer@40000c00 {
                        compatible = "st,stm32f4xx-timer";
                        reg = <0x40000C00 0x400>;
                        interrupts = <50>;
                        status = "okay";
                };
	};

	apb2
	{
		#address-cells = <1>;
		#size-cells = <1>;

		spi1: spi1@40013000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "st,stm32f4xx-spi";
			reg = <0x40013000 0x20>;
                        interrupts = <35>;
			gpios =	<&gpioa 0x505 0x0A>,     /* SCK, PA5 */
					<&gpioa 0x506 0x08>,     /* MISO PA6 */
					<&gpioa 0x507 0x0A>;     /* MOSI PA7 */
			clock = <3>;
			dmas = <&dma2 3 2 0x10400 0x3>,
				<&dma2 3 3 0x10200 0x3>;
			dma-names = "rx", "tx";

			nor@0
			{
				compatible = "lpd,at45db161";
				reg = <0>;
				speed = <8000000>;
				gpios = <&gpiob 0x010 3>,  // cs, PB0, output 1
						<&gpioa 0x001 3>,  // reset, PA1, output 1
						<&gpioa 0x6000 0x300>;  // ready, PA0, input, no pull, it
			};
		};

		spi5: spi5@40015000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "st,stm32f4xx-spi";
			reg = <0x40015000 0x20>;
                        interrupts = <35>;
			gpios =	<&gpiof 0x507 0x0A>,     /* SCK, PF7 */
					<&gpiof 0x508 0x08>,     /* MISO PF8 */
					<&gpiof 0x509 0x0A>;     /* MOSI PF9 */
			clock = <3>;
			dmas = <&dma2 7 5 0x10400 0x3>,
				<&dma2 7 6 0x10200 0x3>;
			dma-names = "rx", "tx";
                        status = "okay";

			ili9341@0
			{
				compatible = "lcd,ili9341";
				speed = <8000000>;
				status = "okay";
			};
		};

		syscfg: syscfg@40013800 {
			reg = <0x40013800 0x20>;
			if = <14>;
		};

		exti: exti@40013C00 {
			reg = <0x40013C00 0x20>;
		};

		ltdc: ltdc@40016800 {
			compatible = "st,stm32f4xx-ltdc";
			reg = <0x40016800 0x400>;
			pll_sai = <127 7 5>;
			sync = <16 2>;
			porch = <40 10 2 4>;
			resolution = <240 320>;
			bpp = <2>;
			status = "okay";
		};
	};
};
