menu "Utility configuration"

config UNWIND
	bool "Enable stack unwinding"

choice
    prompt "Debug output"
    default LITTLE_ENDIAN

config USART_DEBUG
    bool "USART"

config SWO_DEBUG
    bool "SWO"

config SEMIHOSTING_DEBUG
    depends on SEMIHOSTING
    bool "Semihosting"

config SEMIHOSTING_DEBUG_BUFFERED
    depends on SEMIHOSTING_DEBUG
    bool "Buffered output (faster)"


endchoice

menu "Debug level"

config DEBUG
    bool "Print debug logs"

config ERROR
    bool "Print error logs"

config VERBOSE
    bool "Print verbose logs"

endmenu

endmenu
