# Copyright (C) 2016 Raphaël Poggi. All rights reserved.
# Author: Raphaël Poggi <poggi.raph@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "QEMU configuration"

choice
    prompt "SoC"

    config QEMU_VIRT
        bool "QEMU virt"
	select MACH_HAVE_GENERIC_TIMER

endchoice

config TEXT_BASE
	hex "Kernel location in memory"

endmenu
